.pokemon-to-add-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.send-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5vh;
}

.add-trade-container{
    margin-top: 10vh;
}