.title-history {
  padding-top: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.history-cards {
  overflow-y: scroll;
  height: 92vh;
  padding: 10px;
}

.history-container{
   /* background-color: #F6F6F6; */
}