.title-history {
  padding-top: 20px;
  text-align: center;
  font-size: 1.5rem;
}
.history-cards {
  overflow-y: scroll;
  height: 86vh;
  padding: 10px;
}

.no-trade{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.no-trade-text{
  color: #808080;
}