.trade-container {
  display: flex;
  flex-direction: column;
  padding: 1vh 1vw 1vh 1vw;
  height: 80%;
  width: 80%;
  justify-content: center;
}

.trade-show-exchange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-change {
  font-size: 1.2rem;
  text-align: center;
}

.x-divisor{
  font-size: 50px;
}

.other-info{
  padding-top: 1vh;
  
}

.pokemon-list{
  display: flex;
  width: 33vw;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.exp-info{
  padding-top: 10px;
  text-align: center;
}
